.section_container {
  position: relative;
  max-width: 1000px;
  margin: 30px auto 0;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #262a3f;
  background-color: #222435;
  overflow: hidden;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: calc(100% - 24px);
    content: "";
    z-index: 1;
    background: #222435;
    background: linear-gradient(
      90deg,
      #222435 0%,
      #222435 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: calc(100% - 24px);
    content: "";
    z-index: 1;
    background: #222435;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      #222435 50%,
      #222435 100%
    );
  }

  h2 {
    font-size: 26px;
    text-align: center;
    margin: 10px 0 20px;
  }

  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    position: relative;
    padding: 10px 0;

    .add_cathegory_container {
      width: min-content;
      border: solid 2px #38a150;
      background-color: #31d255;
      padding: 10px;
      color: #2e2e34;
      border-radius: 25px;
      text-align: center;
      align-items: center;
      display: flex;
      cursor: pointer;
      transition: 0.2s;
      font-size: 14px;
      margin: 0 10px 0 0;

      &:hover {
        transform: scale(1.03);
      }

      &:active {
        transform: scale(0.97);
      }
    }
  }
}

.section_container nav {
  &::-webkit-scrollbar {
    height: 4px;
    background: #222435;
  }

  &::-webkit-scrollbar-track {
    background: #222435;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    background: #31d255;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 420px) {
  .section_container {
    margin: 0 auto;
    padding: 5px 10px;

    h2 {
      font-size: 24px;
      margin: 0 0 5px;
    }

    nav {
      padding: 5px 0;
    }

    &:before {
      height: calc(100% - 11px);
    }

    &:after {
      height: calc(100% - 11px);
    }
  }

  .section_container nav {
    &::-webkit-scrollbar {
      height: 2px;
    }
  }
}
