.section_container {
  width: 100%;
  background-color: #434084;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;

  h2 {
    font-size: 26px;
    text-align: center;
    margin: 0 0 20px;
  }

  .task {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px 0;

    .text_block {
      display: flex;
      font-size: 20px;

      p {
        margin: auto 5px;
      }

      span {
        display: block;
        width: 15px;
        height: 15px;
        margin: auto 0;
        border-radius: 50%;
        background-color: #fff;
      }
    }

    .info_block {
      display: flex;
      flex-direction: column;

      span {
        background-color: #69728d;
        border-radius: 4px;
        padding: 2px 5px;
        margin: 2px 0;
        text-align: center;
      }
    }
  }
}
