.input_container {
  position: fixed;
  bottom: 22px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 950px;
  // width: fit-content;
  width: calc(100% - 50px);
  height: 45px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px;
  border-radius: 50px;
  z-index: 99999;
  transition: 2s ease-in;

  input,
  select {
    color: #ececec;
  }

  select {
    // background-color: rgba(255, 255, 255, 0.3);
    background-color: #93939b;
    border-radius: 10px;
    padding: 5px;
    margin: 0 5px;

    option {
      background-color: rgba(255, 255, 255, 0.5);
      color: #73747e;
    }
  }

  input[type="submit"] {
    width: fit-content;
    color: #636374;
    // background-color: rgba(255, 255, 255, 0.5);
    background-color: #b1b2b7;
    border-radius: 30px 50px 50px 30px;
    padding: 5px;
  }

  input[type="text"] {
    // background-color: rgba(255, 255, 255, 0.1);
    background-color: #73747e;
    border-radius: 50px 30px 30px 50px;
    padding: 5px 10px;
    min-width: 300px;
    width: 100%;

    &::placeholder {
      color: #b1b1b9;
    }
  }
}

.input_container:focus-within {
  // width: 80%;
  width: calc(100% - 50px);
  animation-duration: 1s;
  // animation-name: stretchOut;
}
// @keyframes stretchOut {
//   from {
//     width: 40%;
//   }
//
//   to {
//     width: 100%;
//   }
// }

@media only screen and (max-width: 754px) {
  .input_container {
    width: calc(100% - 50px);

    input[type="text"] {
      min-width: 80px;
    }

    &:focus-within {
      animation-name: none;
    }
  }
}
