.hedaer_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 10px;
  background-color: #1c1e2e;
  text-align: center;
  // border-radius: 0 0 20px 20px;
  border-bottom: 2px solid #31d255;
  display: flex;
  align-items: center;
  z-index: 1;

  .hedaer_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;

    .date {
      margin: auto;
      font-size: 18px;

      p {
        font-size: 13px;
        color: #69728d;
      }
    }

    img {
      max-width: 50px;
      object-fit: cover;
    }
  }
}
