@import url("https://fonts.googleapis.com/css2?family=Mitr&display=swap");

html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Mitr", sans-serif;
  background: #1f2032;
  background-attachment: fixed;
  position: relative;
  color: #b5b8c1;

  &:after {
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    content: "";
    filter: blur(145px);
    background: radial-gradient(
      circle,
      rgba(43, 34, 101, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.main_content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 10px;
  z-index: 100;
}


body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #1f2033;
}

body::-webkit-scrollbar-thumb {
  border: 2px solid #262a3f;
  border-radius: 20px;
  background-color: #636370;
}
