.category_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: clip;
  cursor: pointer;
  min-width: 160px;
  height: 184px;
  margin: 0 10px;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  border-radius: 20px;
  background: rgb(50, 88, 150);
  background: linear-gradient(
    162deg,
    rgba(50, 88, 150, 1) 0%,
    rgba(40, 48, 106, 1) 100%
  );
  transition: 0.2s ease;
  border: 2px solid #262a3f;

  .background_image img {
    position: absolute;
    z-index: 0;
    opacity: 0.3;
    width: -webkit-fill-available;
    top: -19px;
    bottom: 0;
    left: 0;
    filter: blur(0.4px);
  }

  & > span {
    margin: 0 0 10px;
    z-index: 0;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: -webkit-fill-available;
    overflow: hidden;
  }

  &:nth-child(even) {
    background: rgb(97, 63, 122);
    background: linear-gradient(
      194deg,
      rgba(97, 63, 122, 1) 0%,
      rgba(139, 42, 95, 1) 100%
    );

    .background_image img {
      filter: blur(0.4px) hue-rotate(117deg);
      transform: rotate(180deg);
    }
  }

  &:hover {
    transform: translate(0px, -6px);
    filter: drop-shadow(0px 5px 3px #24223b);
  }

  &:active {
    filter: drop-shadow(0px 2px 2px #24223b) !important;
    transform: translate(0, -2px) !important;
  }

  .progress_wrapper {
    position: relative;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
    }

    .progress_ring__circle {
      transform-origin: center;
      transition: stroke-dashoffset 0.3s;
      transform: scale(-1, 1) rotate(270deg);
      position: relative;
    }
  }

  .delete_block {
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 30px;
    cursor: pointer;
    display: flex;
    opacity: 0;

    img {
      padding: 5px;
      object-fit: cover;
      overflow: hidden;
    }
  }
}

.category_wrapper:hover > .delete_block {
  opacity: 1;
  animation: slideOut 0.4s ease 0s 1 normal both;
}
@keyframes slideOut {
  0% {
    opacity: 0;
    bottom: -20px;
  }

  15% {
    opacity: 0;
  }

  50% {
    bottom: 8px;
    opacity: 1;
  }

  100% {
    opacity: 1;
    bottom: 4px;
  }
}
@media only screen and (max-width: 420px) {
  .category_wrapper {
    min-width: 140px;
    height: 150px;
    margin: 0 5px;

    span {
      margin: auto;
    }
  }
}
